<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
 */
?>
{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}
{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}

<?php
$this->set('sidebarLinks', [
    $this->Html->link(I18N_EDIT, ['action' => 'edit', {{ pK|raw }}], ['class' => 'nav-link']),
    $this->Form->postLink(I18N_DELETE, ['action' => 'delete', {{ pK|raw }}], ['confirm' => I18N_SURE_TO_DELETE, 'class' => 'nav-link']),
    $this->Html->link(__('List {{ pluralHumanName }}'), ['action' => 'index'], ['class' => 'nav-link']),
]);
?>

<div class="{{ pluralVar }} view content">
    <h3><?= h(${{ singularVar }}->{{ displayField }}) ?></h3>

    <dl class="row mt-4">
{% if groupedFields['string'] %}
{% for field in groupedFields['string'] %}
{% if associationFields[field] is defined %}
{% set details = associationFields[field] %}
        <dt class="col-sm-3"><?= __('{{ details.property|humanize }}') ?></dt>
        <dd class="col-sm-9"><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></dd>
{% else %}
        <dt class="col-sm-3"><?= __('{{ field|humanize }}') ?></dt>
        <dd class="col-sm-9"><?= h(${{ singularVar }}->{{ field }}) ?></dd>
{% endif %}
{% endfor %}
{% endif %}
{% if associations.HasOne %}
{% for alias, details in associations.HasOne %}
        <dt class="col-sm-3"><?= __('{{ alias|underscore|singularize|humanize }}') ?></dt>
        <dd class="col-sm-9"><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></dd>
{% endfor %}
{% endif %}
{% if groupedFields.number %}
{% for field in groupedFields.number %}
        <dt class="col-sm-3"><?= __('{{ field|humanize }}') ?></dt>
{% set columnData = Bake.columnData(field, schema) %}
{% if columnData.null %}
        <dd class="col-sm-9"><?= ${{ singularVar }}->{{ field }} === null ? '' : $this->Number->format(${{ singularVar }}->{{ field }}) ?></dd>
{% else %}
        <dd class="col-sm-9"><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></dd>
{% endif %}
{% endfor %}
{% endif %}
{% if groupedFields.date %}
{% for field in groupedFields.date %}
        <dt class="col-sm-3"><?= __('{{ field|humanize }}') ?></dt>
        <dd class="col-sm-9"><?= h(${{ singularVar }}->{{ field }}) ?></dd>
{% endfor %}
{% endif %}
{% if groupedFields.boolean %}
{% for field in groupedFields.boolean %}
        <dt class="col-sm-3"><?= __('{{ field|humanize }}') ?></dt>
        <dd class="col-sm-9"><?= ucfirst(${{ singularVar }}->{{ field }} ? I18N_YES : I18N_NO); ?></dd>
{% endfor %}
{% endif %}
    </dl>
{% if groupedFields.text %}
{% for field in groupedFields.text %}
    <div class="text">
        <strong><?= __('{{ field|humanize }}') ?></strong>
        <blockquote>
            <?= $this->Text->autoParagraph(h(${{ singularVar }}->{{ field }})); ?>
        </blockquote>
    </div>
{% endfor %}
{% endif %}
{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
{% for alias, details in relations %}
{% set otherSingularVar = alias|variable %}
{% set otherPluralHumanName = details.controller|underscore|humanize %}

    <div class="related mt-5">
        <h4><?= __('Related {{ otherPluralHumanName }}') ?></h4>
        
        <?php if (!empty(${{ singularVar }}->{{ details.property }})) : ?>
        <div class="table-responsive">
            <table class="table align-middle">
                <tr>
                    <th></th>
{% for field in details.fields %}
                    <th><?= __('{{ field|humanize }}') ?></th>
{% endfor %}
                </tr>
                <?php foreach (${{ singularVar }}->{{ details.property }} as ${{ otherSingularVar }}) : ?>
                <tr>
{% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
                    <td class="actions">
                        <div class="btn-group">
                        <?php
                            echo $this->Html->button('', ['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}], ['class' => 'btn-link text-primary', 'icon' => 'eye', 'title' => I18N_VIEW]);
                            echo $this->Html->button('', ['controller' => '{{ details.controller }}', 'action' => 'edit', {{ otherPk|raw }}], ['class' => 'btn-link text-primary', 'icon' => 'pencil-alt', 'title' => I18N_EDIT]);
                            echo $this->Form->postButton('', ['controller' => '{{ details.controller }}', 'action' => 'delete', {{ otherPk|raw }}], ['confirm' => I18N_SURE_TO_DELETE, 'class' => 'btn-link text-danger', 'icon' => 'trash-alt', 'title' => I18N_DELETE]);
                        ?>
                        </div>
                    </td>
{% for field in details.fields %}
                    <td><?= h(${{ otherSingularVar }}->{{ field }}) ?></td>
{% endfor %}
                </tr>
                <?php endforeach; ?>
            </table>
        </div>
        <?php endif; ?>
    </div>
{% endfor %}
</div>
